*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}
:root{
    --bg-color:#ffffff;
    --text-color:#000000;
    --main-color:#f0f0f0;
    --other-color:#ffc633;
    --second-color:#616060;
    --third-color:#2B9720;

    --h1-font: 5.5rem;
    --h2-font: 3.5rem;
    --p-font: 1rem
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000%;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}
.logo{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-color);
    
}
.navlist{
    display: flex;
}
.logo img{
    height: 40px;
    justify-content: center;
    align-items: center;
}
.navlist a{
    display: inline-block;
    margin: 0 30px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
}
.navlist a:hover{
    transform: translateY(-4px);
    color: var(--third-color);
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right a{
    display: inline-block;
    color: var(--text-color);
    font-size: 22px;
    margin: 0 20px;
    transition: all .6s;
}
.nav-right a:hover{
    transform: translateY(-4px);
    color: var(--third-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}